html,body{background:#D4DDDC url(../images/bg.jpg) fixed no-repeat center 0;*overflow:hidden}
.logo{float:left;}
.logo a{display:block;background:url(../images/logo.png) no-repeat 0 7px;display:block;width:87px;height:33px;overflow:hidden;padding:7px 0 0 0;line-height:200px;}
.rd_top_main{float:right;}
.rd_top_menu {float:left;background:url(../images/topmenu.png) no-repeat 0 0;padding-left:5px;}
.rd_top_menu li { float:left;}
.rd_top_menu a{color:#000;float:left;line-height:30px;margin:0 0 0 7px}

.rd_top_menu li ul {display:none}
.rd_top_menu li.hasChild {background:url(../images/dropdown.png) no-repeat 100% 15px;padding-right:10px;}
.rd_top_menu li.current {position:relative;}
.rd_top_menu li.current ul {display:block;position:absolute;left:5px; top:25px;background:#E9F4FF;border:1px solid #BFD1E4;padding-top:5px;width:170px;height:185px;}
.rd_top_menu li.current ul li {width:80px;}
.rd_top_menu li.current ul li a { line-height:22px;}

.rd_top_search{float:left;padding:5px 10px 5px 5px;background:url(../images/topmenu.png) no-repeat 100% 0;height:20px;}
.rd_top_search input{float:left;border:0;margin-left:5px;height:20px;width:72px;background:url(../images/topform.jpg) no-repeat 0 0}
.rd_top_search input.kw{margin-left:10px;text-indent:3px}
.rd_top_search select{float:left}
.rd_top_search input.submit{background-position:100% 0;width:40px;text-align:center;cursor:pointer}